sphinx
sphinx_rtd_theme
sphinxcontrib-plantuml
numpy
pandas
matplotlib
opencv-contrib-python
future
pillow
lxml
scipy
dataclasses
scikit-learn
numpyencoder
configargparse

paho-mqtt
pytest
pexpect
attrs

requests
packaging
jinja2
setuptools
wget